nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 75%;
}

svg {
  display: none;
}

@media (max-width: 810px) {
  ul {
    display: none
  }

  svg {
    display: block;
  }
}