#container {
  width: 100%;
  /* margin: 0 auto; */
}

main {
  display: flex;
  justify-content: center;
  gap: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

main section:first-child {
  height: 450px;
  border: 1px solid #000;
  overflow-y: scroll;
  position: relative;
}

main section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

main section:nth-child(2) div {
  display: flex;
  gap: 10px;
}

#consumoTotal {
  text-align: end;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

th,
td {
  width: 170px;
  /* border: 1px solid #000; */
  padding: 3px 5px;
}

tbody tr {
  background-color: #dcdcdc;
}

tbody tr:nth-child(odd) {
  background-color: #efefef;
}

thead tr:first-child {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
}

tr td:first-child,
tr td:nth-child(4) {
  text-align: end;
}

thead th:first-child,
tr td {
  width: auto;
}

tr td:last-child {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 3px 5px;
}
